.modal__content {
  max-width: 498px;
  max-height: 610px;
}

.modal__image {
  width: 100%;
}

.modal__close-btn {
  position: absolute;
  top: 45px;
  right: 45px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-image: url("../../assets/preview_close-btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  font-family:
    Cabinet Grotesk,
    sans-serif;
  line-height: 24px;
  margin: 20px 0 0;
}

.modal__weather {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  font-family:
    Cabinet Grotesk,
    sans-serif;
  line-height: 24px;
  margin: 12px 0 32px;
}
